<div class="container layout">
  <h1>Enter Score</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <section>
      <mat-form-field class="form-field" id="entry-form">
        <mat-label>Player</mat-label>
        <mat-select formControlName="userControl" required>
          @for (player of players; track player) {
          <mat-option [value]="player">{{ player }}</mat-option>
          }
        </mat-select>
        @if (f['userControl'].errors && f['userControl'].errors['required']
        && (f['userControl'].touched || submitted)
        ) {
          <mat-error>Please select a player</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Round</mat-label>
        <mat-select formControlName="roundControl">
          @for (round of rounds; track round) {
          <mat-option [value]="round.roundNumber">{{
            round.roundNumber
          }}</mat-option>
          }
        </mat-select>
        @if (f['roundControl'].errors && f['roundControl'].errors['required']
        && (f['roundControl'].touched || submitted)
        ) {
          <mat-error>Please select the round</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Score</mat-label>
        <input
          matInput
          placeholder="What's the card total"
          formControlName="scoreControl"
          type="number"
        />
        @if (f['scoreControl'].errors && f['scoreControl'].errors['required']
        && (f['scoreControl'].touched || submitted)
        ) {
          <mat-error class="error-container">Please enter player's score</mat-error>
        }
      </mat-form-field>
    </section>
    <div>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</div>
