.container {
    display: block;
    margin: 2em;

    h1 {
        font-size: 2em;
        letter-spacing: 0;
        color: white;
    }
}

.game-card-container {
    display: flex;
    flex-direction: column;
    min-width: 25em;
    max-width: 35em;
}

.round-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 500;
    height: 1.5em;
    align-items: center;
    background-color: white;
    margin: 2px;
    border-radius: 5px;

    .round-number {
        width: 1.5em;
        margin-left: 15px;
    }

    .rule {
        width: 7em;
    }
}

.highlight {
    transition: 0.3s ease;
    background-color: #69f0ae;
}

.dashboard-link {
    margin-top: 2em;
    font-size: 1.15em;
    letter-spacing: .0675rem;
}

.mat-mdc-unelevated-button {
    color: white !important;
    background-color: #673ab7 !important;
}

@media screen and (max-width: 650px) {
    .container {
        max-width: 90%;
        margin: 2em auto 2em auto;
    }

    .round-container {
        font-size: 1.25em;
    }
}
