<div class="container">
  <h1>Game Card</h1>
  <section class="game-card-container">
    @for (round of rounds; track round.roundNumber) {
        <div class="round-container"
          (click)="highlightRow(round.roundNumber)" 
          [class.highlight]="rowClicked === round.roundNumber"
        >
          <div class="round-number">{{ round.roundNumber }}</div>
          <div class="rule">{{ round.title }}</div>
          <div class="rule">{{ round.qualifier }}</div>
        </div>
    }
  </section>
  <a mat-flat-button href="/signal" class="dashboard-link">Back to dashboard</a>
</div>
