.container {
    display: block;
    margin: 20px;
}

.game-card-container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.round-container {
    display: flex;
    justify-content: space-between;
}

.round-container:hover {
    background-color: yellow;
}
