h1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

main {
  width: 100%;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.divider {
  width: 1px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin-inline: 0.5rem;
}

.left-side {
  display: flex;
  justify-content: space-around;
  border: solid 1px;
  border-radius: 8px;
  background: #03DAC5;
  padding: 10px 0 0 10px;
}

.score-results {
  color:white;
  padding: 10px 30px 0 10px;
  background-color: #6200EE;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 50px;
  border-radius: 8px;
}

.item {
  display: flex;
  justify-content: center;
}

.round {
  color: #03DAC5;
  font-weight: 800;
  padding: 10px 0 20px 0;
}

.result-label {
  font-weight: 800;
  padding-top: 10px;
}

.label-item {
  padding: 13px 0 20px 0;
}

@media screen and (max-width: 650px) {
  h1 {
    margin-top: 30px;
  }

  .content {
    flex-direction: column;
    width: max-content;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    margin-block: 1.5rem;
  }

  .left-side {
    flex-direction: column;
    padding: 10px 15px 0 10px;
  }

  .result-label {
    // padding-right: 220px;
    display: none;
  }

  .show-results {
    display: flex;
    flex-direction: row;
    padding: reset;
  }

  .round {
    padding: 0 0 5px 0;
    margin-top: -20px;
  }

  .score-results {
    padding: 0 5px 25px 10px;
    border-bottom: solid 1px;
  }

  .moblie-item {
    margin-top: 15px;
  }
}
