h1 {
  margin-top: 100px;
}

main {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
}

.left-side-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 3rem;
}

.pill-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
}

.pill {
  background: #68EFAD;
}

.left-side {
  display: flex;
  justify-content: space-around;

}

.card {
  margin-left: 20px;
  width: 200px;
}

.header {
  background-color: #691A99;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: center;
}

.player {
  font-size: 12px;
}

mat-icon {
  padding-left: 5px;
}

.score-results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px
}

.item {
  font-weight: 800;
}

.round {
  align-items: center;
}

.score {
  font-size: 20px;
  color: #68EFAD;
}

@media screen and (max-width: 650px) {
  h1 {
    margin-top: 30px;
  }

  .left-side-content {
    flex-direction: column;
    width: max-content;
  }

  .left-side {
    flex-direction: column;
    padding: 10px 15px 0 10px;
  }

  .round {
    padding: 0 0 5px 0;
    margin-top: -20px;
  }
}
