h1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

main {
  width: 100%;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.left-side-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.pill-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
}

.left-side {
  display: flex;
  justify-content: space-around;

}

.card {
  margin-left: 20px;
  width: 125px;
}

.header {
  background-color: #691A99;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.item {
  // display: flex;
  // justify-content: center;
  font-weight: 800;
}

.round {
  color: #9B26AF;
  font-weight: 800;
  padding: 10px 0 20px 0;
}

.score {
  font-size: 20px;
  color: #68EFAD;
}

.result-label {
  padding-top: 25px;
}

.label-item {
  padding: 13px 0 20px 0;
}

@media screen and (max-width: 650px) {
  h1 {
    margin-top: 30px;
  }

  .left-side-content {
    flex-direction: column;
    width: max-content;
  }

  .left-side {
    flex-direction: column;
    padding: 10px 15px 0 10px;
  }

  .result-label {
    // padding-right: 220px;
    display: none;
  }

  .round {
    padding: 0 0 5px 0;
    margin-top: -20px;
  }
}
