@use '@material/theme/color-palette' as *;

h1 {
  color: $blue-grey-50;
  margin-top: 50px;
}

main {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
}

.right-side{
  margin-bottom: 50px;
}

.left-side-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 3rem;
}

.left-side {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
}

.card {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 200px;
}

.header {
  background-color: $green-a200;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.player {
  font-size: 12px;
  padding-bottom: 20px;
  ;
}

.name {
  height: 20px;
}

mat-icon {
  padding-left: 5px;
}

.score-results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px
}

.item {
  font-weight: 800;
}

.round {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  font-size: 20px;
  color: $deep-purple-a700;
}


.pill-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
}

.pill {
  background: $deep-purple-500;
  color: $blue-grey-50;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 650px) {
  h1 {
    margin-top: 30px;
  }

  .left-side-content {
    flex-direction: column;
    width: max-content;
  }

  .left-side {
    flex-direction: column;
    padding: 10px 15px 0 10px;
  }
}

.mat-mdc-form-field {
  flex-direction: row;
}
