<div class="container layout">

  <h1>Enter Score</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>User</mat-label>
      <mat-select formControlName="user">
        @for (user of users; track user) {
        <mat-option value="user">{{ user }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Round</mat-label>
      <mat-select formControlName="round">
        @for (round of rounds; track round) {
        <mat-option value="user">{{ round }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>score</mat-label>
      <input matInput placeholder="what is the count" formControlName="score">
    </mat-form-field>
  </form>
</div>
