<main class="main">
  <div class="title-container"> 
    <h1 class="game-title">{{ title }}</h1>
  </div>
  <div class="content">
    <div class="left-side">
      <div class="score-container">
        <div class="score-item-container table-header">Player</div>
        <div class="score-item-container table-header">Round</div>
        <div class="score-item-container table-header score">Score</div>
      </div>
      @for (scoreList of (scoreList$ | async);track scoreList.name) {
        <div class="score-container">
          <div class="score-item-container">{{ scoreList.name }}</div>
          <div class="score-item-container">{{ scoreList.round }}</div>
          <div class="score-item-container score">{{ scoreList.score }}</div>
        </div>
      } @empty { Empty list of scores }
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        @for (item of [ { title: 'Enter Round', link: '/score' }, 
        { title: 'Game Card', link: '/game-card' }, ]; track item.title) {
        <a class="pill" [routerLink]="item.link" rel="noopener">
          <span>{{ item.title }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="14"
            viewBox="0 -960 960 960"
            width="14"
            fill="currentColor"
          >
            <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
            />
          </svg>
        </a>
        }
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
