.mat-typography h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0 0 16px;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.mat-mdc-card-header .mat-mdc-card-header-text .mat-mdc-card-title {
  font-size: 14px;
}

.mat-mdc-card-avatar {
  display: flex;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 5px !important;
  ;
}

.mat-mdc-card-header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field-invalid {
  margin-bottom: 1em !important;
}

// .mat-mdc-form-field:has(#entry-form) {
//   display: flex !important;
// }
